


.my-map {
  height: 500px;
}


.county {
	fill: #aaa;
  transition: fill 0.2s ease;
}

.county-edges {
  fill: none;
  stroke: #fff;
  stroke-width: 1.3px;
  /*stroke-dasharray: 2,2;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


/*hover sets to red*/
.county:hover {
   fill: #D0D1D6;
}

.ushouse {
	fill: #aaa;
  	transition: fill 0.2s ease;

}

/*hover sets to red*/
.ushouse:hover {
	fill: #D0D1D6;
}

.ushouse-edges {
  fill: none;
  stroke: #fff;
  stroke-width: 1.3px;
  /*stroke-dasharray: 2,2;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;

}

.mosenate {
  fill: #aaa;
    transition: fill 0.2s ease;

}

/*hover sets to red*/
.mosenate:hover {
  fill: #D0D1D6;
}

.mosenate-edges {
  fill: none;
  stroke: #fff;
  stroke-width: 1.3px;
  /*stroke-dasharray: 2,2;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;

}

.mohouse {
	fill: #aaa;
  	transition: fill 0.2s ease;
}

/*hover sets to red*/
.mohouse:hover {
	fill: #D0D1D6;
}

.mohouse-edges {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  /*stroke-dasharray: 2,2;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;

}

.my-map .background {
  fill: none;
  pointer-events: all;
}

.my-map .group.mosenate {
visibility: hidden;
}
.my-map .group.mohouse {
  visibility: hidden;
}
.my-map .group.ushouse {
  visibility: hidden;
}
.my-map .group.county {
  visibility: visible;
}


.btn {
	margin-left: 500px;
	margin-top: 25px;
	/*float: right;*/
}
